<div class="home-page">
    <div class="chatbot-cards">
      <div class="chatbot-card" (click)="navigateToComponent('amcBot')">
        <div class="chatbot-image">
          <img src="assets/images/bajajIcon.png" alt="AMC Bot">
        </div>
        <div class="chatbot-content">
          <h3>AMC Bot</h3>
          <p>This is the AMC Bot</p>
        </div>
      </div>
      <div class="chatbot-card" (click)="navigateToComponent('hrBot')">
        <div class="chatbot-image">
          <img src="assets/images/bajajIcon.png" alt="AMC Bot">
        </div>
        <div class="chatbot-content">
          <h3>HR Bot</h3>
          <p>This is the HR Bot</p>
        </div>
      </div>

      <div class="chatbot-card" (click)="navigateToComponent('SalesBot')">
        <div class="chatbot-image">
          <img src="assets/images/bajajIcon.png" alt="AMC Bot">
        </div>
        <div class="chatbot-content">
          <h3>Sales Bot</h3>
          <p>This is the Sales Bot</p>
        </div>
      </div>

      <!-- Add more chatbot cards as needed -->
    </div>